# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Diretórios de Build
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Ambiente
.env
.env.test
.env.production
.env.development

# IDEs/Editors
.vscode/
.idea/
.DS_Store

# Sistema Operacional
Thumbs.db
.DS_Store

# Teste
coverage/
junit.xml

# Temporários
tmp/
temp/
